<h1> Importación de Librerías  </h1>

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import json 
import math
import datetime
from langdetect import detect
from googletrans import Translator

<h1> Metadata </h1>

In [2]:
metadata_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\1.json'
metadata_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\2.json'
metadata_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\3.json'
metadata_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\4.json'
metadata_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\5.json'
metadata_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\6.json'
metadata_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\7.json'
metadata_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\8.json'
metadata_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\9.json'
metadata_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\10.json'
metadata_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\metadata-sitios\11.json'

metadata_1 = pd.read_json(metadata_1_ruta, lines=True)
metadata_2 = pd.read_json(metadata_2_ruta, lines=True)
metadata_3 = pd.read_json(metadata_3_ruta, lines=True)
metadata_4 = pd.read_json(metadata_4_ruta, lines=True)
metadata_5 = pd.read_json(metadata_5_ruta, lines=True)
metadata_6 = pd.read_json(metadata_6_ruta, lines=True)
metadata_7 = pd.read_json(metadata_7_ruta, lines=True)
metadata_8 = pd.read_json(metadata_8_ruta, lines=True)
metadata_9 = pd.read_json(metadata_9_ruta, lines=True)
metadata_10 = pd.read_json(metadata_10_ruta, lines=True)
metadata_11 = pd.read_json(metadata_11_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [3]:
Datasets = [metadata_1, metadata_2, metadata_3, metadata_4, metadata_5, metadata_6, metadata_7, metadata_8, metadata_9, metadata_10, metadata_11]

In [4]:
mathadata = pd.concat(Datasets, ignore_index=True)

In [5]:
mathadata

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,[Textile exporter],4.5,6,None,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,[Fabric store],3.3,6,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,[Fabric store],4.3,7,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025006,Steak 48,"Steak 48, 260 S Broad St, Philadelphia, PA 19102",0x89c6c74f43a49b55:0x6be6995921c58b12,None,39.947254,-75.164953,"[Steak house, Fine dining restaurant, Seafood ...",4.6,308,None,"[[Monday, 4–10PM], [Tuesday, 4–10PM], [Wednesd...","{'Service options': ['Takeout', 'Dine-in', 'De...",Closed ⋅ Opens 4PM,"[0x89c6c7af1a55f4f9:0x589bb93addf7fd95, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...
3025007,"Jack Mcnerney Chevrolet, Inc.","Jack Mcnerney Chevrolet, Inc., 363 NY-281, Tul...",0x89da1787d3fdc4a5:0xce92ea6e3cd4d1cc,None,42.788636,-76.122120,[Chevrolet dealer],4.4,143,None,"[[Monday, 8:30AM–7PM], [Tuesday, 8:30AM–7PM], ...","{'Service options': ['In-store shopping'], 'Of...",Open ⋅ Closes 7PM,"[0x89d98d228469e435:0x3fdc4fa72594151, 0x89d9e...",https://www.google.com/maps/place//data=!4m2!3...
3025008,Central Ny Spay Neuter Assista,"Central Ny Spay Neuter Assista, 17 Salisbury S...",0x89da6b9ce832726f:0xbd0d3630f1e3b42e,None,42.603831,-76.165286,[Veterinarian],4.3,88,None,None,{'Planning': ['Appointments recommended']},Open now,"[0x89da6c67512700cb:0x69892b3a9a648efe, 0x89d9...",https://www.google.com/maps/place//data=!4m2!3...
3025009,Ok Feed Store,"Ok Feed Store, 16300 SW 296th St, Homestead, F...",0x88d9e872a9e39f3d:0x5de29f50507e5d73,None,25.491641,-80.456076,[Animal feed store],4.9,13,None,"[[Monday, 9AM–6PM], [Tuesday, 9AM–6PM], [Wedne...","{'Service options': ['Curbside pickup', 'In-st...",Open ⋅ Closes 6PM,"[0x88d9e86cb955da7b:0xeda838b28926c524, 0x88d9...",https://www.google.com/maps/place//data=!4m2!3...
3025010,Crestview Crossing,"Crestview Crossing, Newberg, OR 97132",0x54956b3944b1654d:0x7797cead9a485c22,None,45.310254,-122.935500,[Lodging],5.0,1,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,None,https://www.google.com/maps/place//data=!4m2!3...

<h3> Filtrado por Categoría </h3>

In [6]:
palabras_clave = [
    'restaurant', 'coffee', 'beer', 'food', 'wine', 'taco', 'burger', 
    'pizza', 'sushi', 'bistro', 'cafe', 'diner', 
    'bakery', 'brewery', 'grill', 'steakhouse', 'buffet', 'canteen',
    'brunch', 'cuisine', 'dessert', 'eatery', 'fast food', 'gastropub',
    'dinner', 'breakfast', 'lunch', 'sandwich', 'pasta', 'noodle', 
    'ice cream', 'smoothie', 'juice', 'food truck', 'food court', 'veggie','vegetarian', 'vegan', 'plant-based', 'veggie', 'tofu', 
    'tempeh', 'seitan', 'quinoa', 'lentils', 'beans', 
    'salad', 'greens', 'smoothie bowl', 'raw food', 'non-dairy', 
    'meatless', 'vegetables', 'fruit', 'herbivore', 'nutritional yeast'
]


#Función para buscar palabras clave en una lista de categorías
def es_gastronomico(categorias, palabras_clave):
    if isinstance(categorias, list):  # Ver si es una lista
        categorias_str = ' '.join(categorias)  # Convierte la lista en un string
        for palabra in palabras_clave:
            if palabra in categorias_str:
                return True
    return False

In [7]:
mathadata['es_gastronomico'] = mathadata['category'].apply(es_gastronomico, palabras_clave=palabras_clave)

#Filtra el DataFrame para incluir solo los negocios del rubro gastronómico
df_gastronomico = mathadata[mathadata['es_gastronomico']]

In [8]:
df_gastronomico

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url,es_gastronomico
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...,True
8,"Sweet Rewards Gluten Free Bakery, LLC","Sweet Rewards Gluten Free Bakery, LLC, 85 NE D...",0x87ec235c54d25b31:0x3b75fb5facc602f,None,41.616079,-93.865487,"[Bakery, Health food restaurant]",4.7,21,None,"[[Thursday, 10AM–5:30PM], [Friday, 10AM–5:30PM...",{'Service options': ['Delivery']},Permanently closed,"[0x87ee974869295555:0x95f310d065882c9b, 0x87ec...",https://www.google.com/maps/place//data=!4m2!3...,True
115,Fresh Point Country Buffet,"Fresh Point Country Buffet, 10525 US-19, Pinel...",0x88c2e4e34f1ed783:0x76c5da381c499d79,None,27.867489,-82.702971,[Buffet restaurant],5.0,2,None,"[[Thursday, 11AM–9PM], [Friday, 11AM–9PM], [Sa...","{'Service options': ['Delivery'], 'Accessibili...",Permanently closed,"[0x88c2e5593fbd022b:0x2ccd7a719849c9f7, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...,True
144,Maverik Adventure's First Stop,"Maverik Adventure's First Stop, 3330 S 500 W, ...",0x87528bb7ab938cb3:0x5ee996e34cc50715,None,40.698585,-111.906406,"[Fuel supplier, Convenience store, Fast food r...",3.4,5,None,"[[Thursday, Open 24 hours], [Friday, Open 24 h...",{'Accessibility': ['Wheelchair accessible entr...,Open 24 hours,None,https://www.google.com/maps/place//data=!4m2!3...,True
219,The Aynor Inn,"The Aynor Inn, 343 8th Ave, Aynor, SC 29511",0x890007d78c3e5ab9:0x4f105096aaef191d,None,33.996785,-79.202560,"[Buffet restaurant, Family restaurant, Seafood...",4.3,2,None,"[[Thursday, 11AM–2PM], [Friday, 11AM–2PM], [Sa...","{'Service options': ['Delivery'], 'Popular for...",Permanently closed,"[0x890007d7258551b9:0xf7aae370beb052c6, 0x8900...",https://www.google.com/maps/place//data=!4m2!3...,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3024980,Subpreme Grill,"Subpreme Grill, 15260 SW 280th St UNIT 111, Ho...",0x88d9dd6e78851851:0x849dcf273582261c,None,25.506121,-80.438215,"[Sandwich shop, Fast food restaurant, Takeout ...",4.3,393,$,"[[Monday, 10AM–8PM], [Tuesday, 10AM–8PM], [Wed...","{'Service options': ['Takeout'], 'Popular for'...",Open ⋅ Closes 8PM,"[0x88d9dd89a490fb9d:0xecd7dd2fbdfb3270, 0x88d9...",https://www.google.com/maps/place//data=!4m2!3...,True
3024981,Dunkin',"Dunkin', 7000 Chester Ave, Philadelphia, PA 19142",0x89c6c4072624d2a9:0x4437b2d55e9a5811,Long-running chain serving signature breakfast...,39.923594,-75.245269,"[Coffee shop, Bagel shop, Bakery, Breakfast re...",4.0,348,$,"[[Monday, 5:30AM–7:30PM], [Tuesday, 5:30AM–7:3...","{'Service options': ['Delivery', 'Drive-throug...",Open ⋅ Closes 7:30PM,"[0x89c6c6d16baf5e31:0x85b50cbaee46e6fb, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,True
3024992,Reuben's Marc,"Reuben's Marc, 8131 Stenton Ave, Philadelphia,...",0x89c6b993431d9a19:0xea378de3c317996e,None,40.067534,-75.179153,"[Bar & grill, Bar]",4.0,223,$,"[[Monday, 4PM–12AM], [Tuesday, 4PM–12AM], [Wed...","{'Service options': ['Takeout', 'Dine-in', 'De...",Permanently closed,"[0x89c6b9e802822b75:0x5dedce940b31450b, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,True
3025005,Palm Gardens,"Palm Gardens, 52 Elm St, Cortland, NY 13045",0x89da6b8177ee49d5:0xbc9dfc53722fe1,None,42.602261,-76.173393,[Bar & grill],4.0,128,$,"[[Monday, 8AM–2AM], [Tuesday, 8AM–2AM], [Wedne...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 2AM,"[0x89da6c739859e46b:0xce1188b0e281b5c1, 0x89da...",https://www.google.com/maps/place//data=!4m2!3...,True
3025006,Steak 48,"Steak 48, 260 S Broad St, Philadelphia, PA 19102",0x89c6c74f43a49b55:0x6be6995921c58b12,None,39.947254,-75.164953,"[Steak house, Fine dining restaurant, Seafood ...",4.6,308,None,"[[Monday, 4–10PM], [Tuesday, 4–10PM], [Wednesd...","{'Service options': ['Takeout', 'Dine-in', 'De...",Closed ⋅ Opens 4PM,"[0x89c6c7af1a55f4f9:0x589bb93addf7fd95, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,True

<h3> Separar Dirección </h3>

In [9]:
"""def dividir_direccion(df, columna):
    # Divide la columna 'columna' en partes
    df2 = df[columna].str.split(', ', n=3, expand=True)
    df2.columns = ['nombre_local', 'direccion', 'ciudad', 'codigo_postal_cod_ciudad']

    # Divide la columna 'codigo_postal' de df2 en partes adicionales
    df3 = df2['codigo_postal_cod_ciudad'].str.split(' ', n=1, expand=True)
    df3.columns = ['codigo_ciudad', 'codigo_postal']

    # Concatena df2 y df3 a lo largo de las columnas
    df_concatenado = pd.concat([df2, df3], axis=1)
    df_concatenado = pd.concat([df_concatenado, df],axis=1)
    return df_concatenado


df_gastronomico = dividir_direccion(df_gastronomico, 'address')"""

"def dividir_direccion(df, columna):\n    # Divide la columna 'columna' en partes\n    df2 = df[columna].str.split(', ', n=3, expand=True)\n    df2.columns = ['nombre_local', 'direccion', 'ciudad', 'codigo_postal_cod_ciudad']\n\n    # Divide la columna 'codigo_postal' de df2 en partes adicionales\n    df3 = df2['codigo_postal_cod_ciudad'].str.split(' ', n=1, expand=True)\n    df3.columns = ['codigo_ciudad', 'codigo_postal']\n\n    # Concatena df2 y df3 a lo largo de las columnas\n    df_concatenado = pd.concat([df2, df3], axis=1)\n    df_concatenado = pd.concat([df_concatenado, df],axis=1)\n    return df_concatenado\n\n\ndf_gastronomico = dividir_direccion(df_gastronomico, 'address')"

<h3> Eliminar Columnas </h3>

In [10]:
columns=["relative_results", "description", "hours", "state", "MISC", "price", "es_gastronomico"]
df_gastronomico.drop(columns= columns, inplace= True) # type: ignore

<h3> Limpieza de la Columna Código Postal </h3>

In [11]:
#df_gastronomico = df_gastronomico[df_gastronomico['codigo_postal'].apply(lambda x: len(str(x)) == 5)]

<h3> Reseteo de Index </h3>

In [12]:
df_gastronomico = df_gastronomico.reset_index(drop=True)

In [13]:
df_gastronomico

,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,url
0,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,[Korean restaurant],4.4,18,https://www.google.com/maps/place//data=!4m2!3...
1,"Sweet Rewards Gluten Free Bakery, LLC","Sweet Rewards Gluten Free Bakery, LLC, 85 NE D...",0x87ec235c54d25b31:0x3b75fb5facc602f,41.616079,-93.865487,"[Bakery, Health food restaurant]",4.7,21,https://www.google.com/maps/place//data=!4m2!3...
2,Fresh Point Country Buffet,"Fresh Point Country Buffet, 10525 US-19, Pinel...",0x88c2e4e34f1ed783:0x76c5da381c499d79,27.867489,-82.702971,[Buffet restaurant],5.0,2,https://www.google.com/maps/place//data=!4m2!3...
3,Maverik Adventure's First Stop,"Maverik Adventure's First Stop, 3330 S 500 W, ...",0x87528bb7ab938cb3:0x5ee996e34cc50715,40.698585,-111.906406,"[Fuel supplier, Convenience store, Fast food r...",3.4,5,https://www.google.com/maps/place//data=!4m2!3...
4,The Aynor Inn,"The Aynor Inn, 343 8th Ave, Aynor, SC 29511",0x890007d78c3e5ab9:0x4f105096aaef191d,33.996785,-79.202560,"[Buffet restaurant, Family restaurant, Seafood...",4.3,2,https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...
173546,Subpreme Grill,"Subpreme Grill, 15260 SW 280th St UNIT 111, Ho...",0x88d9dd6e78851851:0x849dcf273582261c,25.506121,-80.438215,"[Sandwich shop, Fast food restaurant, Takeout ...",4.3,393,https://www.google.com/maps/place//data=!4m2!3...
173547,Dunkin',"Dunkin', 7000 Chester Ave, Philadelphia, PA 19142",0x89c6c4072624d2a9:0x4437b2d55e9a5811,39.923594,-75.245269,"[Coffee shop, Bagel shop, Bakery, Breakfast re...",4.0,348,https://www.google.com/maps/place//data=!4m2!3...
173548,Reuben's Marc,"Reuben's Marc, 8131 Stenton Ave, Philadelphia,...",0x89c6b993431d9a19:0xea378de3c317996e,40.067534,-75.179153,"[Bar & grill, Bar]",4.0,223,https://www.google.com/maps/place//data=!4m2!3...
173549,Palm Gardens,"Palm Gardens, 52 Elm St, Cortland, NY 13045",0x89da6b8177ee49d5:0xbc9dfc53722fe1,42.602261,-76.173393,[Bar & grill],4.0,128,https://www.google.com/maps/place//data=!4m2!3...
173550,Steak 48,"Steak 48, 260 S Broad St, Philadelphia, PA 19102",0x89c6c74f43a49b55:0x6be6995921c58b12,39.947254,-75.164953,"[Steak house, Fine dining restaurant, Seafood ...",4.6,308,https://www.google.com/maps/place//data=!4m2!3...

<h3> Filtrado por Cercanía de Estadios </h3>

In [14]:
puntos_referencia = [
        {"name": "Mercedes-Benz Stadium", "lat": 33.7575, "lng": -84.3963},
        {"name": "Bank of America Stadium", "lat": 35.2258, "lng": -80.8462},
        {"name": "Soldier Field", "lat": 41.8623, "lng": -87.6167},
        {"name": "TQL Stadium", "lat": 39.1030, "lng": -84.5164},
        {"name": "Lower.com Field", "lat": 39.9636, "lng": -82.9988},
        {"name": "Audi Field", "lat": 38.8737, "lng": -77.0020},
        {"name": "DRV PNK Stadium", "lat": 26.0820, "lng": -80.2526},
        {"name": "Geodis Park", "lat": 36.1456, "lng": -86.7998},
        {"name": "Gillette Stadium", "lat": 42.0909, "lng": -71.2600},
        {"name": "Yankee Stadium", "lat": 40.8296, "lng": -73.9262},
        {"name": "Red Bull Arena", "lat": 40.7429, "lng": -74.1745},
        {"name": "Exploria Stadium", "lat": 28.5428, "lng": -81.3792},
        {"name": "Subaru Park", "lat": 39.8473, "lng": -75.3613},
        {"name": "Q2 Stadium", "lat": 30.2970, "lng": -97.7085},
        {"name": "Dick's Sporting Goods Park", "lat": 39.8056, "lng": -104.8771},
        {"name": "Toyota Stadium", "lat": 33.1531, "lng": -96.8208},
        {"name": "PNC Stadium", "lat": 29.7464, "lng": -95.3600},
        {"name": "Banc of California Stadium", "lat": 34.0164, "lng": -118.2814},
        {"name": "Dignity Health Sports Park", "lat": 33.8654, "lng": -118.2201},
        {"name": "Allianz Field", "lat": 44.9790, "lng": -93.2260},
        {"name": "Providence Park", "lat": 45.5215, "lng": -122.6768},
        {"name": "Rio Tinto Stadium", "lat": 40.5601, "lng": -111.8888},
        {"name": "PayPal Park", "lat": 37.3323, "lng": -121.9050},
        {"name": "Lumen Field", "lat": 47.5951, "lng": -122.3316},
        {"name": "Children's Mercy Park", "lat": 39.0972, "lng": -94.8410},
        {"name": "Citypark", "lat": 38.6136, "lng": -90.2084}
         
         ]

In [15]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Radio de la Tierra en kilómetros
    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = math.sin(dlat / 2) ** 2 + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distancia = R * c
    return distancia

def estadio_mas_cercano(lat, lon, puntos_referencia):
    estadio_cercano = None
    distancia_minima = float('inf')
    
    for punto in puntos_referencia:
        distancia = haversine(lat, lon, punto["lat"], punto["lng"])
        if distancia < distancia_minima:
            distancia_minima = distancia
            estadio_cercano = punto["name"]
    
    return estadio_cercano

In [16]:
def registros_en_radio_multiple(registros, puntos_referencia, distancia_km=10):
    registros_filtrados = pd.DataFrame()
    
    for punto in puntos_referencia:
        latitud_inicial = punto["lat"]
        longitud_inicial = punto["lng"]
        
        # Cálculo de los límites y filtrado, como en la función original
        desplazamiento_latitud = distancia_km / 111
        latitud_minima = latitud_inicial - desplazamiento_latitud
        latitud_maxima = latitud_inicial + desplazamiento_latitud
    
        # Aproximadamente 111 km por grado de longitud, ajustado por la latitud
        desplazamiento_longitud = distancia_km / (111 * math.cos(math.radians(latitud_inicial)))
        longitud_minima = longitud_inicial - desplazamiento_longitud
        longitud_maxima = longitud_inicial + desplazamiento_longitud

        registros_filtrados_temp = registros[
            (registros['latitude'] >= latitud_minima) & (registros['latitude'] <= latitud_maxima) &
            (registros['longitude'] >= longitud_minima) & (registros['longitude'] <= longitud_maxima)
        ]
        registros_filtrados = pd.concat([registros_filtrados, registros_filtrados_temp], ignore_index=True)

    # Convertir columnas con diccionarios y listas en cadenas para hacerlas hashables
    for col in registros_filtrados.columns:
        if registros_filtrados[col].apply(lambda x: isinstance(x, (dict, list))).any():
            registros_filtrados[col] = registros_filtrados[col].apply(lambda x: str(x) if isinstance(x, (dict, list)) else x)
    
    # Eliminar duplicados
    registros_filtrados = registros_filtrados.drop_duplicates()

    return registros_filtrados

In [17]:
df_gastronomico = registros_en_radio_multiple(df_gastronomico, puntos_referencia, distancia_km=10)

# Añadir la columna 'estadio_mas_cercano' al DataFrame
df_gastronomico['estadio_mas_cercano'] = df_gastronomico.apply(
    lambda row: estadio_mas_cercano(row['latitude'], row['longitude'], puntos_referencia),
    axis=1
)

In [18]:
df_gastronomico

,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,url,estadio_mas_cercano
0,Creole Orleans Catering & Food Truck,"Creole Orleans Catering & Food Truck, 2841 Gre...",0x88f503d71429c049:0xef40e07a5479b1c2,33.689032,-84.495097,"['Creole restaurant', 'Caribbean restaurant', ...",4.7,31,https://www.google.com/maps/place//data=!4m2!3...,Mercedes-Benz Stadium
1,Biswas Grocery and Cafe,"Biswas Grocery and Cafe, 2853 Buford Hwy NE, A...",0x88f507f3e1cde31d:0x1bcd2bb2f0555399,33.831454,-84.341647,"['Organic food store', 'Convenience store', 'P...",4.7,25,https://www.google.com/maps/place//data=!4m2!3...,Mercedes-Benz Stadium
2,Noodle Cafe,"Noodle Cafe, 233 Peachtree St # B70, Atlanta, ...",0x88f5047831dfc86d:0x985e3a6645f5ca4f,33.760404,-84.386319,"['Thai restaurant', 'Restaurant']",4.2,35,https://www.google.com/maps/place//data=!4m2!3...,Mercedes-Benz Stadium
6,Waffle House,"Waffle House, 96 Upper Alabama St, Atlanta, GA...",0x88f503840040687f:0xd2152396faf21f2e,33.751822,-84.390075,"['Restaurant', 'American restaurant', 'Breakfa...",2.2,26,https://www.google.com/maps/place//data=!4m2!3...,Mercedes-Benz Stadium
7,The Atlas Tavern,"The Atlas Tavern, St. Regis Atlanta, 88 West P...",0x88f5058eee201ca7:0xe6bc72cd7f3d87d0,33.839848,-84.382633,"['Gastropub', 'Cocktail bar', 'New American re...",4.8,8,https://www.google.com/maps/place//data=!4m2!3...,Mercedes-Benz Stadium
...,...,...,...,...,...,...,...,...,...,...
17800,Asador Del Sur,"Asador Del Sur, 7322 Manchester Rd, Maplewood,...",0x87d8cb63528fa87d:0x5394d16ff4da2056,38.612835,-90.318099,"['Restaurant', 'Argentinian restaurant', 'Lati...",4.9,93,https://www.google.com/maps/place//data=!4m2!3...,Citypark
17801,Cecil Whittaker's Pizzeria,"Cecil Whittaker's Pizzeria, 9040 Gravois Rd, S...",0x87d8c9ec28dc519d:0xb260bfa87c17f95,38.554957,-90.313820,"['Pizza restaurant', 'Italian restaurant', 'De...",4.2,178,https://www.google.com/maps/place//data=!4m2!3...,Citypark
17802,Pizza Hut,"Pizza Hut, 4344 Loughborough Ave, St. Louis, M...",0x87d8b675ad95be3f:0x5eab11efecc4a019,38.566322,-90.278851,"['Pizza delivery', 'Chicken wings restaurant',...",3.2,238,https://www.google.com/maps/place//data=!4m2!3...,Citypark
17803,Subway,"Subway, 216 N 7th St, St. Louis, MO 63101",0x87d8b31eb60697f9:0x713c0e9f52495d9e,38.627843,-90.191188,"['Sandwich shop', 'Fast food restaurant', 'Tak...",3.5,68,https://www.google.com/maps/place//data=!4m2!3...,Citypark
17804,Thai Table,"Thai Table, 7403 Manchester Rd, Maplewood, MO ...",0x87d8cb011666cb3b:0xdcf8e531febbbf43,38.612634,-90.320195,['Thai restaurant'],4.5,138,https://www.google.com/maps/place//data=!4m2!3...,Citypark

In [19]:
df_gastronomico.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17633 entries, 0 to 17804
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 17633 non-null  object
 1   address              17572 non-null  object
 2   gmap_id              17633 non-null  object
 3   latitude             17633 non-null  float64
 4   longitude            17633 non-null  float64
 5   category             17633 non-null  object
 6   avg_rating           17633 non-null  float64
 7   num_of_reviews       17633 non-null  int64
 8   url                  17633 non-null  object
 9   estadio_mas_cercano  17633 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 1.5+ MB

<h1> Reviews  </h1>

<h2> Washington </h2>

In [20]:
Washington_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\1.json'
Washington_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\2.json'
Washington_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\3.json'
Washington_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\4.json'
Washington_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\5.json'
Washington_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\6.json'
Washington_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\7.json'
Washington_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\8.json'
Washington_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\9.json'
Washington_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\10.json'
Washington_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\11.json'
Washington_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\12.json'
Washington_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Washington\13.json'

Washington_1 = pd.read_json(Washington_1_ruta, lines=True)
Washington_2 = pd.read_json(Washington_2_ruta, lines=True)
Washington_3 = pd.read_json(Washington_3_ruta, lines=True)
Washington_4 = pd.read_json(Washington_4_ruta, lines=True)
Washington_5 = pd.read_json(Washington_5_ruta, lines=True)
Washington_6 = pd.read_json(Washington_6_ruta, lines=True)
Washington_7 = pd.read_json(Washington_7_ruta, lines=True)
Washington_8 = pd.read_json(Washington_8_ruta, lines=True)
Washington_9 = pd.read_json(Washington_9_ruta, lines=True)
Washington_10 = pd.read_json(Washington_10_ruta, lines=True)
Washington_11 = pd.read_json(Washington_11_ruta, lines=True)
Washington_12 = pd.read_json(Washington_12_ruta, lines=True)
Washington_13 = pd.read_json(Washington_13_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [21]:
Datasets_Washington = [Washington_1, Washington_2, Washington_3, Washington_4, Washington_5, Washington_6, Washington_7, Washington_8, Washington_9, Washington_10, Washington_11, Washington_12, Washington_13]

In [22]:
Washington = pd.concat(Datasets_Washington, ignore_index=True)

In [23]:
Washington

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.030930e+20,Casper Steele,1626907411534,2,Drivers say security has bathroom key. Securit...,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
1,1.110141e+20,Judy Maes,1613028426989,5,It's a CTRAN transit center with schedules to ...,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
2,1.117244e+20,Daniel Hernandez,1536710665852,5,Neat little Transit Center with lots of schedu...,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
3,1.153311e+20,Lumi Nosa,1484359806540,5,Very helpful. Thanks,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
4,1.069064e+20,James Conright,1500643741079,1,They don't sell tacos.,None,None,0x5495ae7d3bf7d097:0xbcbc06152a3ccebc
...,...,...,...,...,...,...,...,...
1942015,1.108662e+20,Dualle Abdi,1592873479964,5,None,None,None,0x54906c4bb4541b15:0x167db6becb362e15
1942016,1.161065e+20,YURII HULYI,1599877713537,5,None,None,None,0x54906c4bb4541b15:0x167db6becb362e15
1942017,1.067696e+20,Imran Aslam,1529132134824,5,None,None,None,0x54906c4bb4541b15:0x167db6becb362e15
1942018,1.011000e+20,ahmed alsalihi,1563403471882,5,None,None,None,0x54906c4bb4541b15:0x167db6becb362e15
1942019,1.051857e+20,mohammed koya,1519875458049,5,None,None,None,0x54906c4bb4541b15:0x167db6becb362e15

<h3> Eliminar Columnas </h3>

In [24]:
Washington = Washington.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [25]:
# Filtramos df_georgia para que solo contenga filas cuyos gmap_id están en df_metadata
filtrado_Washington = Washington[Washington['gmap_id'].isin(df_gastronomico['gmap_id'])]

# Opcional: Si quieres reemplazar el DataFrame original con el filtrado
Washington = filtrado_Washington

In [26]:
Washington

,user_id,name,time,rating,text,gmap_id
499,1.148520e+20,Joshua McCormack,1476746560454,5,I feel like not a lot of people know about thi...,0x5490143a1a6be1a3:0xcdfc8b297798e8f2
500,1.055213e+20,J V,1413911526424,5,"It's a dive bar with great service, Do not exp...",0x5490143a1a6be1a3:0xcdfc8b297798e8f2
501,1.126502e+20,Naomi Ishikawa,1325365056929,4,"Service is good. Food's alright, but...BUT......",0x5490143a1a6be1a3:0xcdfc8b297798e8f2
502,1.027241e+20,Edward Hilgendorf,1479180008850,3,"Extremely divey, decent food with crazy select...",0x5490143a1a6be1a3:0xcdfc8b297798e8f2
503,1.088590e+20,Christina,1480490310116,5,This is hands down the best dive bar in Seattl...,0x5490143a1a6be1a3:0xcdfc8b297798e8f2
...,...,...,...,...,...,...
1312783,1.101518e+20,Pascal Bonjour,1560886097825,5,None,0x5490152737e8e8ad:0xb31731a334f45a63
1312784,1.173750e+20,Robert Palmer,1615847919391,2,None,0x5490152737e8e8ad:0xb31731a334f45a63
1312785,1.126429e+20,Trevor Rosenstrom,1552195152789,5,None,0x5490152737e8e8ad:0xb31731a334f45a63
1312786,1.153002e+20,Charles Ramsey,1557024496557,5,None,0x5490152737e8e8ad:0xb31731a334f45a63
1312787,1.021546e+20,MIHCELLPH (MIHCELLPH),1580803110247,1,None,0x5490152737e8e8ad:0xb31731a334f45a63

<h1> Georgia </h1>

In [27]:
Georgia_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\1.json'
Georgia_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\2.json'
Georgia_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\3.json'
Georgia_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\4.json'
Georgia_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\5.json'
Georgia_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\6.json'
Georgia_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\7.json'
Georgia_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\8.json'
Georgia_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\9.json'
Georgia_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\10.json'
Georgia_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\11.json'
Georgia_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\12.json'
Georgia_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Georgia\13.json'

Georgia_1 = pd.read_json(Georgia_1_ruta, lines=True)
Georgia_2 = pd.read_json(Georgia_2_ruta, lines=True)
Georgia_3 = pd.read_json(Georgia_3_ruta, lines=True)
Georgia_4 = pd.read_json(Georgia_4_ruta, lines=True)
Georgia_5 = pd.read_json(Georgia_5_ruta, lines=True)
Georgia_6 = pd.read_json(Georgia_6_ruta, lines=True)
Georgia_7 = pd.read_json(Georgia_7_ruta, lines=True)
Georgia_8 = pd.read_json(Georgia_8_ruta, lines=True)
Georgia_9 = pd.read_json(Georgia_9_ruta, lines=True)
Georgia_10 = pd.read_json(Georgia_10_ruta, lines=True)
Georgia_11 = pd.read_json(Georgia_11_ruta, lines=True)
Georgia_12 = pd.read_json(Georgia_12_ruta, lines=True)
Georgia_13 = pd.read_json(Georgia_13_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [28]:
Datasets_Georgia = [Georgia_1, Georgia_2, Georgia_3, Georgia_4, Georgia_5, Georgia_6, Georgia_7, Georgia_8, Georgia_9, Georgia_10, Georgia_11, Georgia_12, Georgia_13]

In [29]:
Georgia = pd.concat(Datasets_Georgia, ignore_index=True)

In [30]:
Georgia

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.042277e+20,Brent Powell,1599604812269,5,Great hometown folk. Rob takes good care of al...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
1,1.055723e+20,Evan Thomas,1502078169146,5,Very friendly hometown pharmarcy. Always helpf...,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
2,1.039554e+20,Caleb Howell,1502571430852,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
3,1.069746e+20,ashlee crawford,1494161075405,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
4,1.048457e+20,T Paulk,1495139229501,5,None,None,None,0x88f16e41928ff687:0x883dad4fd048e8f8
...,...,...,...,...,...,...,...,...
1949995,1.133385e+20,Love The Hippy,1599323314859,4,Awesome place!!,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26
1949996,1.182398e+20,Roger Conry,1583468426655,4,They always treat me well,None,"{'time': 1583509072191, 'text': 'roger , ido p...",0x8860748c546fef29:0x83a1ffb0a44a9d26
1949997,1.069748e+20,Kristina Fusco,1550553451577,5,Very friendly and would 100% go to again. They...,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26
1949998,1.020953e+20,Georgiagirl,1525789761757,1,The owner is rude and acts like she knows ever...,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26
1949999,1.055816e+20,Larry Thrasher,1559411933300,4,Good service today.Thank you.,None,None,0x8860748c546fef29:0x83a1ffb0a44a9d26

<h3> Eliminar Columnas </h3>

In [31]:
Georgia = Georgia.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [32]:
filtrado_Georgia = Georgia[Georgia['gmap_id'].isin(df_gastronomico['gmap_id'])]

Georgia = filtrado_Georgia

In [33]:
Georgia

,user_id,name,time,rating,text,gmap_id
1958,1.087151e+20,Evan Guthrie,1614374734371,5,Noodle Cafe at Peachtree Center in Atlanta is ...,0x88f5047831dfc86d:0x985e3a6645f5ca4f
1959,1.095364e+20,Matthew Wamboldt,1596820182685,5,"Timely service and decent, affordable Thai/Chi...",0x88f5047831dfc86d:0x985e3a6645f5ca4f
1960,1.166923e+20,Tenbroeck Smith,1572099298577,5,I have lunch here frequently. I get the lunch ...,0x88f5047831dfc86d:0x985e3a6645f5ca4f
1961,1.080147e+20,Déjah King,1448300782707,4,Love the food there especially the pad Thai no...,0x88f5047831dfc86d:0x985e3a6645f5ca4f
1962,1.039682e+20,Dr. LaQuanda Jefferson,1529080233763,5,I absolutely loved the food. Thai is one of fa...,0x88f5047831dfc86d:0x985e3a6645f5ca4f
...,...,...,...,...,...,...
1838464,1.133403e+20,Peaches Griffin,1578099794696,5,Really yummy food,0x88f50386ed46f4a1:0x293ced40c4fcd366
1838465,1.028561e+20,Eric Eric,1581791006367,5,Great Gumbo grits,0x88f50386ed46f4a1:0x293ced40c4fcd366
1838466,1.166411e+20,MEEZ-E Productions,1613589594965,5,None,0x88f50386ed46f4a1:0x293ced40c4fcd366
1838467,1.168022e+20,Eulos Hunter,1606238062154,4,None,0x88f50386ed46f4a1:0x293ced40c4fcd366
1838468,1.155631e+20,Robert Wright,1600798091513,4,None,0x88f50386ed46f4a1:0x293ced40c4fcd366

<h1> Ohio </h1>

In [34]:
Ohio_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\1.json'
Ohio_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\2.json'
Ohio_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\3.json'
Ohio_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\4.json'
Ohio_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\5.json'
Ohio_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\6.json'
Ohio_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\7.json'
Ohio_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\8.json'
Ohio_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\9.json'
Ohio_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\10.json'
Ohio_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\11.json'
Ohio_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\12.json'
Ohio_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Ohio\13.json'


Ohio_1 = pd.read_json(Ohio_1_ruta, lines=True)
Ohio_2 = pd.read_json(Ohio_2_ruta, lines=True)
Ohio_3 = pd.read_json(Ohio_3_ruta, lines=True)
Ohio_4 = pd.read_json(Ohio_4_ruta, lines=True)
Ohio_5 = pd.read_json(Ohio_5_ruta, lines=True)
Ohio_6 = pd.read_json(Ohio_6_ruta, lines=True)
Ohio_7 = pd.read_json(Ohio_7_ruta, lines=True)
Ohio_8 = pd.read_json(Ohio_8_ruta, lines=True)
Ohio_9 = pd.read_json(Ohio_9_ruta, lines=True)
Ohio_10 = pd.read_json(Ohio_10_ruta, lines=True)
Ohio_11 = pd.read_json(Ohio_11_ruta, lines=True)
Ohio_12 = pd.read_json(Ohio_12_ruta, lines=True)
Ohio_13 = pd.read_json(Ohio_13_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [35]:
Datasets_Ohio = [Ohio_1, Ohio_2, Ohio_3, Ohio_4, Ohio_5, Ohio_6, Ohio_7, Ohio_8, Ohio_9, Ohio_10, Ohio_11, Ohio_12, Ohio_13]

In [36]:
Ohio = pd.concat(Datasets_Ohio, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [37]:
Ohio = Ohio.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [38]:
filtrado_Ohio = Ohio[Ohio['gmap_id'].isin(df_gastronomico['gmap_id'])]

In [39]:
Ohio = filtrado_Ohio

In [40]:
Ohio

,user_id,name,time,rating,text,gmap_id
1528,1.039094e+20,Captain Akuunas,1597531173160,3,"Best coffee,tea and many more options,, my fav...",0x88388bb5a8ff82f1:0x4319e68a80c5a5eb
1529,1.127147e+20,Ikram Yahiani,1541512983648,5,"The food was delicious, and spicy as it suppos...",0x88388bb5a8ff82f1:0x4319e68a80c5a5eb
1530,1.092344e+20,Mohamed Farah,1558315250012,5,Somalian cuisine very delicious,0x88388bb5a8ff82f1:0x4319e68a80c5a5eb
1531,1.075823e+20,Muhammad Ibrahim,1590094718842,5,Good,0x88388bb5a8ff82f1:0x4319e68a80c5a5eb
1532,1.168479e+20,Abdirasaq Abdullahi,1567804792840,5,None,0x88388bb5a8ff82f1:0x4319e68a80c5a5eb
...,...,...,...,...,...,...
1816740,1.114471e+20,Peet,1524861216884,5,None,0x88388ec0b31899bd:0x2ccb76b63a1dcd2b
1816741,1.102955e+20,Hoodo Tv,1582137184036,2,None,0x88388ec0b31899bd:0x2ccb76b63a1dcd2b
1816742,1.167910e+20,Zachary Weber,1530036629929,5,None,0x88388ec0b31899bd:0x2ccb76b63a1dcd2b
1816743,1.178719e+20,Greg Massey,1553043645179,4,None,0x88388ec0b31899bd:0x2ccb76b63a1dcd2b
1816744,1.029656e+20,Jacob Claiborne,1491087564433,5,None,0x88388ec0b31899bd:0x2ccb76b63a1dcd2b

<h1> California </h1>

In [41]:
California_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\1.json'
California_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\2.json'
California_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\3.json'
California_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\4.json'
California_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\5.json'
California_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\6.json'
California_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\7.json'
California_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\8.json'
California_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\9.json'
California_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\10.json'
California_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\11.json'
California_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\12.json'
California_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\13.json'
California_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\14.json'
California_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\15.json'
California_16_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\16.json'
California_17_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\17.json'
California_18_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-California\18.json'

California_1 = pd.read_json(California_1_ruta, lines=True)
California_2 = pd.read_json(California_2_ruta, lines=True)
California_3 = pd.read_json(California_3_ruta, lines=True)
California_4 = pd.read_json(California_4_ruta, lines=True)
California_5 = pd.read_json(California_5_ruta, lines=True)
California_6 = pd.read_json(California_6_ruta, lines=True)
California_7 = pd.read_json(California_7_ruta, lines=True)
California_8 = pd.read_json(California_8_ruta, lines=True)
California_9 = pd.read_json(California_9_ruta, lines=True)
California_10 = pd.read_json(California_10_ruta, lines=True)
California_11 = pd.read_json(California_11_ruta, lines=True)
California_12 = pd.read_json(California_12_ruta, lines=True)
California_13 = pd.read_json(California_13_ruta, lines=True)
California_14 = pd.read_json(California_14_ruta, lines=True)
California_15 = pd.read_json(California_15_ruta, lines=True)
California_16 = pd.read_json(California_16_ruta, lines=True)
California_17 = pd.read_json(California_17_ruta, lines=True)
California_18 = pd.read_json(California_18_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [42]:

Datasets_California = [California_1, California_2, California_3, California_4, California_5, California_6, California_7, California_8, California_9, California_10, California_11, California_12, California_13, California_14, California_15, California_16, California_17, California_18]

In [43]:
California = pd.concat(Datasets_California, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [44]:
California = California.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [45]:
filtrado_California = California[California['gmap_id'].isin(df_gastronomico['gmap_id'])]

California = filtrado_California

In [46]:
California

,user_id,name,time,rating,text,gmap_id
0,1.089912e+20,Song Ro,1609909927056,5,Love there korean rice cake.,0x80c2c778e3b73d33:0xbdc58662a4a97d49
1,1.112903e+20,Rafa Robles,1612849648663,5,Good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49
2,1.126404e+20,David Han,1583643882296,4,They make Korean traditional food very properly.,0x80c2c778e3b73d33:0xbdc58662a4a97d49
3,1.174403e+20,Anthony Kim,1551938216355,5,Short ribs are very delicious.,0x80c2c778e3b73d33:0xbdc58662a4a97d49
4,1.005808e+20,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49
...,...,...,...,...,...,...
2696857,1.066249e+20,Seyar Kalmoni,1375324789238,5,"The Pizza is absolutely amazing, we got one pi...",0x808fb57e5ffcf77f:0xdeb76c221475bdf0
2696858,1.083197e+20,Levi Spears,1446600918883,4,"Awesome slices, quick service. Recommended.",0x808fb57e5ffcf77f:0xdeb76c221475bdf0
2696859,1.002820e+20,Haroon R,1431829326719,5,One of my favorite pizza places west of NY,0x808fb57e5ffcf77f:0xdeb76c221475bdf0
2696860,1.008675e+20,Wojtek Poppe,1409277227868,5,Awesome slice of pizza. Just like in New York...,0x808fb57e5ffcf77f:0xdeb76c221475bdf0
2696861,1.094478e+20,Ahmed Hamdy,1462051509144,5,None,0x808fb57e5ffcf77f:0xdeb76c221475bdf0

<h1> Tennessee </h1>

In [47]:
Tennessee_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\1.json'
Tennessee_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\2.json'
Tennessee_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\3.json'
Tennessee_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\4.json'
Tennessee_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\5.json'
Tennessee_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\6.json'
Tennessee_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\7.json'
Tennessee_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\8.json'
Tennessee_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\9.json'
Tennessee_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\10.json'
Tennessee_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\11.json'
Tennessee_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Tennessee\12.json'

Tennessee_1 = pd.read_json(Tennessee_1_ruta, lines=True)
Tennessee_2 = pd.read_json(Tennessee_2_ruta, lines=True)
Tennessee_3 = pd.read_json(Tennessee_3_ruta, lines=True)
Tennessee_4 = pd.read_json(Tennessee_4_ruta, lines=True)
Tennessee_5 = pd.read_json(Tennessee_5_ruta, lines=True)
Tennessee_6 = pd.read_json(Tennessee_6_ruta, lines=True)
Tennessee_7 = pd.read_json(Tennessee_7_ruta, lines=True)
Tennessee_8 = pd.read_json(Tennessee_8_ruta, lines=True)
Tennessee_9 = pd.read_json(Tennessee_9_ruta, lines=True)
Tennessee_10 = pd.read_json(Tennessee_10_ruta, lines=True)
Tennessee_11 = pd.read_json(Tennessee_11_ruta, lines=True)
Tennessee_12 = pd.read_json(Tennessee_12_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [48]:
Datasets_Tennessee = [Tennessee_1, Tennessee_2, Tennessee_3, Tennessee_4, Tennessee_5, Tennessee_6, Tennessee_7, Tennessee_8, Tennessee_9, Tennessee_10, Tennessee_11, Tennessee_12]

Tennessee = pd.concat(Datasets_Tennessee, ignore_index=True)

<h3> Eliminar Columnas  </h3>

In [49]:
Tennessee = Tennessee.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [50]:
filtrado_Tennessee = Tennessee[Tennessee['gmap_id'].isin(df_gastronomico['gmap_id'])]

Tennessee = filtrado_Tennessee

In [51]:
Tennessee

,user_id,name,time,rating,text,gmap_id
117,1.145221e+20,Jessica,1485482099301,5,Where has this been all my life!!! SMOOTHIE KI...,0x886466a4208f8ced:0x4e8c845aebe361fe
118,1.167070e+20,nancy lewis,1467655878320,4,Very nice guy that works there.,0x886466a4208f8ced:0x4e8c845aebe361fe
119,1.154777e+20,Teus Kappen,1462677103108,4,Very friendly staff! Smoothies are pretty good.,0x886466a4208f8ced:0x4e8c845aebe361fe
120,1.113632e+20,patrick binkley,1575142233639,3,None,0x886466a4208f8ced:0x4e8c845aebe361fe
121,1.006820e+20,Sachin Nuguru,1596430164235,5,None,0x886466a4208f8ced:0x4e8c845aebe361fe
...,...,...,...,...,...,...
1065998,1.080370e+20,Erick Avendano,1556070911338,5,None,0x88646e4901d5e847:0x3623261faeaaf9d7
1065999,1.167654e+20,Minerva Arellano,1535218722174,5,None,0x88646e4901d5e847:0x3623261faeaaf9d7
1066000,1.100684e+20,mireya faine,1557231486795,5,None,0x88646e4901d5e847:0x3623261faeaaf9d7
1066001,1.030430e+20,Marco Blancas,1534160747220,4,None,0x88646e4901d5e847:0x3623261faeaaf9d7
1066002,1.164951e+20,William Erazo,1561030595867,5,None,0x88646e4901d5e847:0x3623261faeaaf9d7

<h1> Florida </h1>

In [52]:
Florida_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\1.json'
Florida_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\2.json'
Florida_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\3.json'
Florida_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\4.json'
Florida_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\5.json'
Florida_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\6.json'
Florida_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\7.json'
Florida_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\8.json'
Florida_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\9.json'
Florida_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\10.json'
Florida_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\11.json'
Florida_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\12.json'
Florida_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\13.json'
Florida_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\13.json'
Florida_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\13.json'
Florida_16_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\13.json'
Florida_17_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\13.json'
Florida_18_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\13.json'
Florida_19_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Florida\13.json'


Florida_1 = pd.read_json(Florida_1_ruta, lines=True)
Florida_2 = pd.read_json(Florida_2_ruta, lines=True)
Florida_3 = pd.read_json(Florida_3_ruta, lines=True)
Florida_4 = pd.read_json(Florida_4_ruta, lines=True)
Florida_5 = pd.read_json(Florida_5_ruta, lines=True)
Florida_6 = pd.read_json(Florida_6_ruta, lines=True)
Florida_7 = pd.read_json(Florida_7_ruta, lines=True)
Florida_8 = pd.read_json(Florida_8_ruta, lines=True)
Florida_9 = pd.read_json(Florida_9_ruta, lines=True)
Florida_10 = pd.read_json(Florida_10_ruta, lines=True)
Florida_11 = pd.read_json(Florida_11_ruta, lines=True)
Florida_12 = pd.read_json(Florida_12_ruta, lines=True)
Florida_13 = pd.read_json(Florida_13_ruta, lines=True)
Florida_14 = pd.read_json(Florida_14_ruta, lines=True)
Florida_15 = pd.read_json(Florida_15_ruta, lines=True)
Florida_16 = pd.read_json(Florida_16_ruta, lines=True)
Florida_17 = pd.read_json(Florida_17_ruta, lines=True)
Florida_18 = pd.read_json(Florida_18_ruta, lines=True)
Florida_19 = pd.read_json(Florida_19_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [53]:
Datasets_Florida = [Florida_1, Florida_2, Florida_3, Florida_4, Florida_5, Florida_6, Florida_7, Florida_8, Florida_9, Florida_10, Florida_11, 
                    Florida_12, Florida_13, Florida_14, Florida_15, Florida_16, Florida_17, Florida_18, Florida_19]

Florida = pd.concat(Datasets_Florida, ignore_index=True)

<h3> Eliminar Columnas  </h3>

In [54]:
Florida = Florida.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [55]:
filtrado_Florida = Florida[Florida['gmap_id'].isin(df_gastronomico['gmap_id'])]

Florida = filtrado_Florida

In [56]:
Florida

,user_id,name,time,rating,text,gmap_id
2398,1.159547e+20,Gary Lawson,1396011116922,4,Had diner twice here. The salad bar was SUPER...,0x88dd8019b7c4167b:0x7043f86a8346dcf3
2399,1.079480e+20,Lorel Hartley,1396021719109,4,Food was much better than the breakfast buffet...,0x88dd8019b7c4167b:0x7043f86a8346dcf3
2400,1.131640e+20,Luis Muñoz (fokat),1344775864864,3,I have to remember to only order the salad bar...,0x88dd8019b7c4167b:0x7043f86a8346dcf3
2401,1.146141e+20,Arod S,1418319929936,1,Worst food I've ever had. My child was food po...,0x88dd8019b7c4167b:0x7043f86a8346dcf3
2402,1.053665e+20,Lamel Fountain,1338731735987,5,Great food!!!!!!!! Always hot & fresh!!!!!!!!!...,0x88dd8019b7c4167b:0x7043f86a8346dcf3
...,...,...,...,...,...,...
2811637,1.118786e+20,Kymberlie Nakayama,1496796480490,5,None,0x88d9abd269245639:0x5f919e84011a2b03
2811638,1.012681e+20,Ernesto Maldonado,1535058661069,5,None,0x88d9abd269245639:0x5f919e84011a2b03
2811639,1.075334e+20,leonor lazo,1595606696682,5,None,0x88d9abd269245639:0x5f919e84011a2b03
2811640,1.025662e+20,mary ramos,1546294150240,5,None,0x88d9abd269245639:0x5f919e84011a2b03
2811641,1.050015e+20,bella is not cool,1550593983159,5,None,0x88d9abd269245639:0x5f919e84011a2b03

<h1> Oregon </h1>

In [57]:
Oregon_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\1.json'
Oregon_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\2.json'
Oregon_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\3.json'
Oregon_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\4.json'
Oregon_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\5.json'
Oregon_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\6.json'
Oregon_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\7.json'
Oregon_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\8.json'
Oregon_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\9.json'
Oregon_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\10.json'
Oregon_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\11.json'
Oregon_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\12.json'
Oregon_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\13.json'
Oregon_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\14.json'
Oregon_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Oregon\15.json'

Oregon_1 = pd.read_json(Oregon_1_ruta, lines=True)
Oregon_2 = pd.read_json(Oregon_2_ruta, lines=True)
Oregon_3 = pd.read_json(Oregon_3_ruta, lines=True)
Oregon_4 = pd.read_json(Oregon_4_ruta, lines=True)
Oregon_5 = pd.read_json(Oregon_5_ruta, lines=True)
Oregon_6 = pd.read_json(Oregon_6_ruta, lines=True)
Oregon_7 = pd.read_json(Oregon_7_ruta, lines=True)
Oregon_8 = pd.read_json(Oregon_8_ruta, lines=True)
Oregon_9 = pd.read_json(Oregon_9_ruta, lines=True)
Oregon_10 = pd.read_json(Oregon_10_ruta, lines=True)
Oregon_11 = pd.read_json(Oregon_11_ruta, lines=True)
Oregon_12 = pd.read_json(Oregon_12_ruta, lines=True)
Oregon_13 = pd.read_json(Oregon_13_ruta, lines=True)
Oregon_14 = pd.read_json(Oregon_14_ruta, lines=True)
Oregon_15 = pd.read_json(Oregon_15_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [58]:
Datasets_Oregon = [Oregon_1, Oregon_2, Oregon_3, Oregon_4, Oregon_5, Oregon_6, Oregon_7, Oregon_8, Oregon_9, Oregon_10, Oregon_11, 
                   Oregon_12, Oregon_13, Oregon_14, Oregon_15]

Oregon = pd.concat(Datasets_Oregon, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [59]:
Oregon = Oregon.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [60]:
filtrado_Oregon = Oregon[Oregon['gmap_id'].isin(df_gastronomico['gmap_id'])]

Oregon = filtrado_Oregon

In [61]:
Oregon

,user_id,name,time,rating,text,gmap_id
146,1.027736e+20,Mary Lao,1345850330340,3,Their spaghetti sucks. It's plain and it's wat...,0x5495a02207a696d1:0x59705a9df8b151dd
147,1.084151e+20,Jennifer Moser,1367864543720,4,They need better recipes for the desserts oth...,0x5495a02207a696d1:0x59705a9df8b151dd
148,1.048040e+20,Veronica Lona Torres,1386386662631,3,I love the foods there. It's has all different...,0x5495a02207a696d1:0x59705a9df8b151dd
149,1.106057e+20,Susana Betancourt,1300687762754,1,Gross! I found hair in two dishes that I picke...,0x5495a02207a696d1:0x59705a9df8b151dd
150,1.139821e+20,LESLIE S,1347587946060,4,love this place been going there for about 5 y...,0x5495a02207a696d1:0x59705a9df8b151dd
...,...,...,...,...,...,...
813777,1.173347e+20,Haltestelle 7,1556914295833,5,None,0x54950c252d2c081f:0x8df89e9607aedf83
813778,1.144839e+20,Hyacinth & Aparicio Baltazar,1552104206981,5,None,0x54950c252d2c081f:0x8df89e9607aedf83
813779,1.030218e+20,Brenda Rocha,1562451989730,4,None,0x54950c252d2c081f:0x8df89e9607aedf83
813780,1.114784e+20,Raghu Kona,1616385150473,5,None,0x54950c252d2c081f:0x8df89e9607aedf83
813781,1.178610e+20,Katelyn Schiesser,1491110881973,5,None,0x54950c252d2c081f:0x8df89e9607aedf83

<h1> Massachusetts </h1>

In [62]:
Massachusetts_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\1.json'
Massachusetts_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\2.json'
Massachusetts_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\3.json'
Massachusetts_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\4.json'
Massachusetts_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\5.json'
Massachusetts_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\6.json'
Massachusetts_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\7.json'
Massachusetts_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\8.json'
Massachusetts_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\9.json'
Massachusetts_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\10.json'
Massachusetts_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\11.json'
Massachusetts_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\12.json'
Massachusetts_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\13.json'
Massachusetts_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\14.json'
Massachusetts_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\15.json'
Massachusetts_16_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Massachusetts\16.json'

Massachusetts_1 = pd.read_json(Massachusetts_1_ruta, lines=True)
Massachusetts_2 = pd.read_json(Massachusetts_2_ruta, lines=True)
Massachusetts_3 = pd.read_json(Massachusetts_3_ruta, lines=True)
Massachusetts_4 = pd.read_json(Massachusetts_4_ruta, lines=True)
Massachusetts_5 = pd.read_json(Massachusetts_5_ruta, lines=True)
Massachusetts_6 = pd.read_json(Massachusetts_6_ruta, lines=True)
Massachusetts_7 = pd.read_json(Massachusetts_7_ruta, lines=True)
Massachusetts_8 = pd.read_json(Massachusetts_8_ruta, lines=True)
Massachusetts_9 = pd.read_json(Massachusetts_9_ruta, lines=True)
Massachusetts_10 = pd.read_json(Massachusetts_10_ruta, lines=True)
Massachusetts_11 = pd.read_json(Massachusetts_11_ruta, lines=True)
Massachusetts_12 = pd.read_json(Massachusetts_12_ruta, lines=True)
Massachusetts_13 = pd.read_json(Massachusetts_13_ruta, lines=True)
Massachusetts_14 = pd.read_json(Massachusetts_14_ruta, lines=True)
Massachusetts_15 = pd.read_json(Massachusetts_15_ruta, lines=True)
Massachusetts_16 = pd.read_json(Massachusetts_16_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [63]:
Datasets_Massachusetts = [Massachusetts_1, Massachusetts_2, Massachusetts_3, Massachusetts_4, Massachusetts_5, Massachusetts_6, Massachusetts_7, Massachusetts_8, Massachusetts_9, Massachusetts_10, Massachusetts_11, 
                          Massachusetts_12, Massachusetts_13, Massachusetts_14, Massachusetts_15, Massachusetts_16]

Massachusetts = pd.concat(Datasets_Massachusetts, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [64]:
Massachusetts = Massachusetts.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [65]:
filtrado_Massachusetts = Massachusetts[Massachusetts['gmap_id'].isin(df_gastronomico['gmap_id'])]

Massachusetts = filtrado_Massachusetts

In [66]:
Massachusetts

,user_id,name,time,rating,text,gmap_id
14726,1.127958e+20,S C,1543694971781,1,"I think this business is gone, now it's anothe...",0x89e465c09b874879:0xd318f9cc0b6b39a6
14727,1.169626e+20,Khodour Al Kadry,1527963648839,1,If I can give this place a 0 I would have done...,0x89e465c09b874879:0xd318f9cc0b6b39a6
14728,1.135448e+20,Ignacio Cetrangolo,1469656657141,1,I wish I could rate this 0/5 stars. Honestly t...,0x89e465c09b874879:0xd318f9cc0b6b39a6
14729,1.104995e+20,pablo rodriguez,1531677262101,5,Ir you love dim sum like I do. This is your pl...,0x89e465c09b874879:0xd318f9cc0b6b39a6
14730,1.166612e+20,Misa Torres,1460857491785,3,The food was salty and the portions were small...,0x89e465c09b874879:0xd318f9cc0b6b39a6
...,...,...,...,...,...,...
793544,1.075418e+20,Judy Cahill,1562008959653,5,None,0x89e47a1837cac75b:0x5a24279825a82cbc
793545,1.146438e+20,Robert Ingram,1503978945288,4,None,0x89e47a1837cac75b:0x5a24279825a82cbc
793546,1.172860e+20,Jack Sheehan,1378693236265,5,None,0x89e47a1837cac75b:0x5a24279825a82cbc
793547,1.033326e+20,Anthony McKinney,1545135906894,5,None,0x89e47a1837cac75b:0x5a24279825a82cbc
793548,1.059178e+20,khuong nguyen,1540035820152,5,None,0x89e47a1837cac75b:0x5a24279825a82cbc

<h1> North Carolina </h1>

In [67]:
North_Carolina_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\1.json'
North_Carolina_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\2.json'
North_Carolina_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\3.json'
North_Carolina_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\4.json'
North_Carolina_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\5.json'
North_Carolina_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\6.json'
North_Carolina_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\7.json'
North_Carolina_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\8.json'
North_Carolina_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\9.json'
North_Carolina_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\10.json'
North_Carolina_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\11.json'
North_Carolina_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\12.json'
North_Carolina_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\13.json'
North_Carolina_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\14.json'
North_Carolina_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-North_Carolina\15.json'

North_Carolina_1 = pd.read_json(North_Carolina_1_ruta, lines=True)
North_Carolina_2 = pd.read_json(North_Carolina_2_ruta, lines=True)
North_Carolina_3 = pd.read_json(North_Carolina_3_ruta, lines=True)
North_Carolina_4 = pd.read_json(North_Carolina_4_ruta, lines=True)
North_Carolina_5 = pd.read_json(North_Carolina_5_ruta, lines=True)
North_Carolina_6 = pd.read_json(North_Carolina_6_ruta, lines=True)
North_Carolina_7 = pd.read_json(North_Carolina_7_ruta, lines=True)
North_Carolina_8 = pd.read_json(North_Carolina_8_ruta, lines=True)
North_Carolina_9 = pd.read_json(North_Carolina_9_ruta, lines=True)
North_Carolina_10 = pd.read_json(North_Carolina_10_ruta, lines=True)
North_Carolina_11 = pd.read_json(North_Carolina_11_ruta, lines=True)
North_Carolina_12 = pd.read_json(North_Carolina_12_ruta, lines=True)
North_Carolina_13 = pd.read_json(North_Carolina_13_ruta, lines=True)
North_Carolina_14 = pd.read_json(North_Carolina_14_ruta, lines=True)
North_Carolina_15 = pd.read_json(North_Carolina_15_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [68]:
Datasets_North_Carolina = [North_Carolina_1, North_Carolina_2, North_Carolina_3, North_Carolina_4, North_Carolina_5, North_Carolina_6, North_Carolina_7, North_Carolina_8, North_Carolina_9, North_Carolina_10, North_Carolina_11, 
                           North_Carolina_12, North_Carolina_13, North_Carolina_14, North_Carolina_15]

North_Carolina = pd.concat(Datasets_North_Carolina, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [69]:
North_Carolina = North_Carolina.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [70]:
filtrado_North_Carolina = North_Carolina[North_Carolina['gmap_id'].isin(df_gastronomico['gmap_id'])]

North_Carolina = filtrado_North_Carolina

In [71]:
North_Carolina

,user_id,name,time,rating,text,gmap_id
2525,1.021501e+20,Justin Lowder,1625895940460,1,Stopped coming here at night because been aske...,0x88569f142fa6ea25:0x2bb64edf44b067f4
2526,1.053475e+20,Ken Chris,1624741787230,1,Bathroom was filthy as usual and neither dispe...,0x88569f142fa6ea25:0x2bb64edf44b067f4
2527,1.169910e+20,Stuart Smith,1552906301812,5,This is a very nice gas station. The parking l...,0x88569f142fa6ea25:0x2bb64edf44b067f4
2528,1.088588e+20,Dimja Shireen,1604922577199,5,I had to run a few errands in Charlotte about ...,0x88569f142fa6ea25:0x2bb64edf44b067f4
2529,1.160022e+20,Tal Kelsey,1600696827996,2,"Every single time I have been to this QT, panh...",0x88569f142fa6ea25:0x2bb64edf44b067f4
...,...,...,...,...,...,...
1690751,1.078603e+20,Richard Dougherty,1521921412132,5,None,0x88569f8d3eae4f35:0xf79da12d54c4cba2
1690752,1.176411e+20,Ross Peele,1575125378144,5,None,0x88569f8d3eae4f35:0xf79da12d54c4cba2
1690753,1.104843e+20,Donna Belk,1538750500885,5,None,0x88569f8d3eae4f35:0xf79da12d54c4cba2
1690754,1.119329e+20,K Matthews,1566586136813,5,None,0x88569f8d3eae4f35:0xf79da12d54c4cba2
1690755,1.177204e+20,Tinabrooks Davis,1580240358716,1,None,0x88569f8d3eae4f35:0xf79da12d54c4cba2

<h1> Kansas </h1>

In [72]:
Kansas_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\1.json'
Kansas_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\2.json'
Kansas_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\3.json'
Kansas_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\4.json'
Kansas_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\5.json'
Kansas_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\6.json'
Kansas_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\7.json'
Kansas_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\8.json'
Kansas_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\9.json'
Kansas_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\10.json'
Kansas_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\11.json'
Kansas_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\12.json'
Kansas_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Kansas\13.json'

Kansas_1 = pd.read_json(Kansas_1_ruta, lines=True)
Kansas_2 = pd.read_json(Kansas_2_ruta, lines=True)
Kansas_3 = pd.read_json(Kansas_3_ruta, lines=True)
Kansas_4 = pd.read_json(Kansas_4_ruta, lines=True)
Kansas_5 = pd.read_json(Kansas_5_ruta, lines=True)
Kansas_6 = pd.read_json(Kansas_6_ruta, lines=True)
Kansas_7 = pd.read_json(Kansas_7_ruta, lines=True)
Kansas_8 = pd.read_json(Kansas_8_ruta, lines=True)
Kansas_9 = pd.read_json(Kansas_9_ruta, lines=True)
Kansas_10 = pd.read_json(Kansas_10_ruta, lines=True)
Kansas_11 = pd.read_json(Kansas_11_ruta, lines=True)
Kansas_12 = pd.read_json(Kansas_12_ruta, lines=True)
Kansas_13 = pd.read_json(Kansas_13_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [73]:
Datasets_Kansas = [Kansas_1, Kansas_2, Kansas_3, Kansas_4, Kansas_5, Kansas_6, Kansas_7, Kansas_8, Kansas_9, Kansas_10, Kansas_11, 
                   Kansas_12, Kansas_13]

Kansas = pd.concat(Datasets_Kansas, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [74]:
Kansas = Kansas.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [75]:
filtrado_Kansas = Kansas[Kansas['gmap_id'].isin(df_gastronomico['gmap_id'])]

Kansas = filtrado_Kansas

In [76]:
Kansas

,user_id,name,time,rating,text,gmap_id
39416,1.068997e+20,Viktor Meethoven LeVergen,1533940736568,5,We love their subs. To bad this is the only lo...,0x87c08ea4b839f5f5:0x8ad5cf8ccdd18292
39417,1.099695e+20,Kyle Vocaturo,1524681158638,1,Been charged 3 different prices for the same 2...,0x87c08ea4b839f5f5:0x8ad5cf8ccdd18292
39418,1.090369e+20,Rebecca Brandon,1529689041336,1,They don't quite have it down they messed up t...,0x87c08ea4b839f5f5:0x8ad5cf8ccdd18292
39419,1.060204e+20,Ryan Edwards,1521580472257,5,A great place to grab a bite to eat especially...,0x87c08ea4b839f5f5:0x8ad5cf8ccdd18292
39420,1.027992e+20,Tasha D,1515079321252,4,"I really enjoy the steak sandwiches, and the c...",0x87c08ea4b839f5f5:0x8ad5cf8ccdd18292
...,...,...,...,...,...,...
403788,1.068320e+20,masons famlley,1572362418190,5,None,0x87c08e1b3b295555:0x758a0b44977636be
403789,1.136735e+20,Clay,1550959723777,5,None,0x87c08e1b3b295555:0x758a0b44977636be
403790,1.135811e+20,Desiray Cantrell,1567274856701,5,None,0x87c08e1b3b295555:0x758a0b44977636be
403791,1.009920e+20,Sean Stewart,1571248771797,4,None,0x87c08e1b3b295555:0x758a0b44977636be
403792,1.118269e+20,Andi Cartwright,1578072265315,5,None,0x87c08e1b3b295555:0x758a0b44977636be

<h1> Minnesota </h1>

In [77]:
Minnesota_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\1.json'
Minnesota_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\2.json'
Minnesota_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\3.json'
Minnesota_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\4.json'
Minnesota_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\5.json'
Minnesota_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\6.json'
Minnesota_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\7.json'
Minnesota_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\8.json'
Minnesota_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\9.json'
Minnesota_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\10.json'
Minnesota_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\11.json'
Minnesota_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Minnesota\12.json'

Minnesota_1 = pd.read_json(Minnesota_1_ruta, lines=True)
Minnesota_2 = pd.read_json(Minnesota_2_ruta, lines=True)
Minnesota_3 = pd.read_json(Minnesota_3_ruta, lines=True)
Minnesota_4 = pd.read_json(Minnesota_4_ruta, lines=True)
Minnesota_5 = pd.read_json(Minnesota_5_ruta, lines=True)
Minnesota_6 = pd.read_json(Minnesota_6_ruta, lines=True)
Minnesota_7 = pd.read_json(Minnesota_7_ruta, lines=True)
Minnesota_8 = pd.read_json(Minnesota_8_ruta, lines=True)
Minnesota_9 = pd.read_json(Minnesota_9_ruta, lines=True)
Minnesota_10 = pd.read_json(Minnesota_10_ruta, lines=True)
Minnesota_11 = pd.read_json(Minnesota_11_ruta, lines=True)
Minnesota_12 = pd.read_json(Minnesota_12_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [78]:
Datasets_Minnesota = [Minnesota_1, Minnesota_2, Minnesota_3, Minnesota_4, Minnesota_5, Minnesota_6, Minnesota_7, Minnesota_8, Minnesota_9, Minnesota_10, Minnesota_11, 
                      Minnesota_12]

Minnesota = pd.concat(Datasets_Minnesota, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [79]:
Minnesota = Minnesota.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [80]:
filtrado_Minnesota = Minnesota[Minnesota['gmap_id'].isin(df_gastronomico['gmap_id'])]

Minnesota = filtrado_Minnesota

In [81]:
Minnesota

,user_id,name,time,rating,text,gmap_id
690,1.059709e+20,Michelle Tverberg,1629314626955,5,"Brian with Brie Cater at The Bella Room, MN ho...",0x52b32e10e4d6bbd1:0xa4e86205085ba820
691,1.089530e+20,Felix Gill,1607107669321,5,"Good food. Try the ribs. Great bartenders, Sa...",0x52b32e10e4d6bbd1:0xa4e86205085ba820
692,1.157047e+20,Matt Klemme,1530718587840,5,Brie Cater is amazing. My wife and I had anoth...,0x52b32e10e4d6bbd1:0xa4e86205085ba820
693,1.099249e+20,zane inglorion,1510685868788,5,"great food. great service, great family owned ...",0x52b32e10e4d6bbd1:0xa4e86205085ba820
694,1.026137e+20,Christopher T Rogan,1500746103690,5,"Excellent staff, delicious food.",0x52b32e10e4d6bbd1:0xa4e86205085ba820
...,...,...,...,...,...,...
815319,1.017358e+20,Jesse jan,1551643840820,5,Wonderful food,0x52b333cfb085c343:0x20b63a0aae0e254a
815320,1.110412e+20,Boris Mishulovin,1562814566781,5,Always excellent and delicious,0x52b333cfb085c343:0x20b63a0aae0e254a
815321,1.121501e+20,John Cooper,1569173933551,5,None,0x52b333cfb085c343:0x20b63a0aae0e254a
815322,1.079208e+20,Tootie Tootie,1546228615103,1,None,0x52b333cfb085c343:0x20b63a0aae0e254a
815323,1.140125e+20,Blake Brauer,1538776818627,5,None,0x52b333cfb085c343:0x20b63a0aae0e254a

<h1> Utah </h1>

In [82]:
Utah_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\1.json'
Utah_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\2.json'
Utah_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\3.json'
Utah_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\4.json'
Utah_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\5.json'
Utah_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\6.json'
Utah_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\7.json'
Utah_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\8.json'
Utah_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\9.json'
Utah_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Utah\10.json'

Utah_1 = pd.read_json(Utah_1_ruta, lines=True)
Utah_2 = pd.read_json(Utah_2_ruta, lines=True)
Utah_3 = pd.read_json(Utah_3_ruta, lines=True)
Utah_4 = pd.read_json(Utah_4_ruta, lines=True)
Utah_5 = pd.read_json(Utah_5_ruta, lines=True)
Utah_6 = pd.read_json(Utah_6_ruta, lines=True)
Utah_7 = pd.read_json(Utah_7_ruta, lines=True)
Utah_8 = pd.read_json(Utah_8_ruta, lines=True)
Utah_9 = pd.read_json(Utah_9_ruta, lines=True)
Utah_10 = pd.read_json(Utah_10_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [83]:
Datasets_Utah = [Utah_1, Utah_2, Utah_3, Utah_4, Utah_5, Utah_6, Utah_7, Utah_8, Utah_9, Utah_10]

Utah = pd.concat(Datasets_Utah, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [84]:
Utah = Utah.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [85]:
filtrado_Utah = Utah[Utah['gmap_id'].isin(df_gastronomico['gmap_id'])]

Utah = filtrado_Utah

In [86]:
Utah

,user_id,name,time,rating,text,gmap_id
1115,1.017301e+20,Grant,1627675986370,5,This place is a great little fast food joint. ...,0x875289613c18358f:0x7aaf75f9f2b3aaf1
1116,1.176280e+20,Randy Sartori,1630365663925,3,Nice neighborhood eatery. Similar to Arctic Ci...,0x875289613c18358f:0x7aaf75f9f2b3aaf1
1117,1.108786e+20,Rob Haynes,1630870168464,4,"The burgers are bland, but the service and mil...",0x875289613c18358f:0x7aaf75f9f2b3aaf1
1118,1.140441e+20,David Kraft,1624711191262,5,"The place looks run down and the menu, with al...",0x875289613c18358f:0x7aaf75f9f2b3aaf1
1119,1.096292e+20,Waylon Robb,1626737315921,5,Well in my opinion this little burger joint is...,0x875289613c18358f:0x7aaf75f9f2b3aaf1
...,...,...,...,...,...,...
693255,1.038601e+20,Annabella Patty,1557414170509,5,None,0x8752863ba23729a1:0xf37bdb3b2dbfa72d
693256,1.030288e+20,Malynda Daniels,1555121455715,4,None,0x8752863ba23729a1:0xf37bdb3b2dbfa72d
693257,1.153592e+20,Janette Nolan,1524511999569,3,None,0x8752863ba23729a1:0xf37bdb3b2dbfa72d
693258,1.025372e+20,Brigitte Wisely,1519350953488,5,None,0x8752863ba23729a1:0xf37bdb3b2dbfa72d
693259,1.006658e+20,Thiese C,1601335890946,5,None,0x8752863ba23729a1:0xf37bdb3b2dbfa72d

<h1> Texas </h1>

In [87]:
Texas_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\1.json'
Texas_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\2.json'
Texas_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\3.json'
Texas_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\4.json'
Texas_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\5.json'
Texas_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\6.json'
Texas_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\7.json'
Texas_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\8.json'
Texas_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\9.json'
Texas_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\10.json'
Texas_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\11.json'
Texas_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\12.json'
Texas_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\13.json'
Texas_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\14.json'
Texas_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\15.json'
Texas_16_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Texas\16.json'

Texas_1 = pd.read_json(Texas_1_ruta, lines=True)
Texas_2 = pd.read_json(Texas_2_ruta, lines=True)
Texas_3 = pd.read_json(Texas_3_ruta, lines=True)
Texas_4 = pd.read_json(Texas_4_ruta, lines=True)
Texas_5 = pd.read_json(Texas_5_ruta, lines=True)
Texas_6 = pd.read_json(Texas_6_ruta, lines=True)
Texas_7 = pd.read_json(Texas_7_ruta, lines=True)
Texas_8 = pd.read_json(Texas_8_ruta, lines=True)
Texas_9 = pd.read_json(Texas_9_ruta, lines=True)
Texas_10 = pd.read_json(Texas_10_ruta, lines=True)
Texas_11 = pd.read_json(Texas_11_ruta, lines=True)
Texas_12 = pd.read_json(Texas_12_ruta, lines=True)
Texas_13 = pd.read_json(Texas_13_ruta, lines=True)
Texas_14 = pd.read_json(Texas_14_ruta, lines=True)
Texas_15 = pd.read_json(Texas_15_ruta, lines=True)
Texas_16 = pd.read_json(Texas_16_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [88]:
Datasets_Texas = [Texas_1, Texas_2, Texas_3, Texas_4, Texas_5, Texas_6, Texas_7, Texas_8, Texas_9, Texas_10, Texas_11, 
                  Texas_12, Texas_13, Texas_14, Texas_15, Texas_16]

Texas = pd.concat(Datasets_Texas, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [89]:
Texas = Texas.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [90]:
filtrado_Texas = Texas[Texas['gmap_id'].isin(df_gastronomico['gmap_id'])]

Texas = filtrado_Texas

In [91]:
Texas

,user_id,name,time,rating,text,gmap_id
4039,1.057061e+20,Monique White,1486240037172,5,I ordered from Broke Ass Pizza today and I lov...,0x8640bf01c157ee41:0x411ab7ef38a9da9f
4040,1.098162e+20,Octavia Cobb,1476993647593,5,The Coconut Curry Pizza is sooooo good! You ne...,0x8640bf01c157ee41:0x411ab7ef38a9da9f
4041,1.184428e+20,DESIRIA BELL,1489904820293,5,AMAZING!!!!!!! What a hidden gem in Houston. I...,0x8640bf01c157ee41:0x411ab7ef38a9da9f
4042,1.080239e+20,Lisa Renee,1489849135323,5,My favorite is the Cheese pizza - not your ord...,0x8640bf01c157ee41:0x411ab7ef38a9da9f
4043,1.080239e+20,Lisa Renee,1489849135323,5,My favorite is the Cheese pizza - not your ord...,0x8640bf01c157ee41:0x411ab7ef38a9da9f
...,...,...,...,...,...,...
2244654,1.142583e+20,Stacy Evenson,1619966502735,5,None,0x8640c18d62332dfd:0x2258aae113dbddb0
2244655,1.007918e+20,Adetola Ojo,1613282556024,4,None,0x8640c18d62332dfd:0x2258aae113dbddb0
2244656,1.066460e+20,monica iles,1600406676419,5,None,0x8640c18d62332dfd:0x2258aae113dbddb0
2244657,1.040803e+20,Willie Priolo,1605781954053,4,None,0x8640c18d62332dfd:0x2258aae113dbddb0
2244658,1.096134e+20,Eduardo Hilsaca,1613942959140,5,None,0x8640c18d62332dfd:0x2258aae113dbddb0

<h1> Pennsylvania </h1>

In [92]:
Pennsylvania_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\1.json'
Pennsylvania_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\2.json'
Pennsylvania_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\3.json'
Pennsylvania_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\4.json'
Pennsylvania_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\5.json'
Pennsylvania_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\6.json'
Pennsylvania_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\7.json'
Pennsylvania_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\8.json'
Pennsylvania_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\9.json'
Pennsylvania_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\10.json'
Pennsylvania_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\11.json'
Pennsylvania_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\12.json'
Pennsylvania_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\13.json'
Pennsylvania_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\14.json'
Pennsylvania_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\15.json'
Pennsylvania_16_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Pennsylvania\16.json'

Pennsylvania_1 = pd.read_json(Pennsylvania_1_ruta, lines=True)
Pennsylvania_2 = pd.read_json(Pennsylvania_2_ruta, lines=True)
Pennsylvania_3 = pd.read_json(Pennsylvania_3_ruta, lines=True)
Pennsylvania_4 = pd.read_json(Pennsylvania_4_ruta, lines=True)
Pennsylvania_5 = pd.read_json(Pennsylvania_5_ruta, lines=True)
Pennsylvania_6 = pd.read_json(Pennsylvania_6_ruta, lines=True)
Pennsylvania_7 = pd.read_json(Pennsylvania_7_ruta, lines=True)
Pennsylvania_8 = pd.read_json(Pennsylvania_8_ruta, lines=True)
Pennsylvania_9 = pd.read_json(Pennsylvania_9_ruta, lines=True)
Pennsylvania_10 = pd.read_json(Pennsylvania_10_ruta, lines=True)
Pennsylvania_11 = pd.read_json(Pennsylvania_11_ruta, lines=True)
Pennsylvania_12 = pd.read_json(Pennsylvania_12_ruta, lines=True)
Pennsylvania_13 = pd.read_json(Pennsylvania_13_ruta, lines=True)
Pennsylvania_14 = pd.read_json(Pennsylvania_14_ruta, lines=True)
Pennsylvania_15 = pd.read_json(Pennsylvania_15_ruta, lines=True)
Pennsylvania_16 = pd.read_json(Pennsylvania_16_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [93]:
Datasets_Pennsylvania = [Pennsylvania_1, Pennsylvania_2, Pennsylvania_3, Pennsylvania_4, Pennsylvania_5, Pennsylvania_6, Pennsylvania_7, Pennsylvania_8, Pennsylvania_9, Pennsylvania_10, Pennsylvania_11, 
                         Pennsylvania_12, Pennsylvania_13, Pennsylvania_14, Pennsylvania_15, Pennsylvania_16]

Pennsylvania = pd.concat(Datasets_Pennsylvania, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [94]:
Pennsylvania = Pennsylvania.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [95]:
filtrado_Pennsylvania = Pennsylvania[Pennsylvania['gmap_id'].isin(df_gastronomico['gmap_id'])]

Pennsylvania = filtrado_Pennsylvania

In [96]:
Pennsylvania

,user_id,name,time,rating,text,gmap_id
17366,1.076383e+20,Madi Duff,1623543933674,5,i am so excited to have noodle eighty eight ri...,0x89c6e9b2f9464d2d:0x67de23671abfae45
17367,1.123088e+20,Angela Tee,1629998541021,5,"Loving the food!! Had beef pad Thai, xiao long...",0x89c6e9b2f9464d2d:0x67de23671abfae45
17368,1.152749e+20,Andrew Williams,1629056391056,5,"Food was delicious. Staff was attentive. And, ...",0x89c6e9b2f9464d2d:0x67de23671abfae45
17369,1.141193e+20,ROD ROBINSON,1630249486314,4,"Highly Recommended, Great Service and Food\nNi...",0x89c6e9b2f9464d2d:0x67de23671abfae45
17370,1.107411e+20,E H,1624374372425,5,The Shanghai soup dumplings were so tasty. I e...,0x89c6e9b2f9464d2d:0x67de23671abfae45
...,...,...,...,...,...,...
1790751,1.077171e+20,Dent forem,1540928892138,4,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811
1790752,1.013964e+20,raage hassan,1532100711211,5,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811
1790753,1.011512e+20,Dwight Lee,1556141493132,5,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811
1790754,1.022664e+20,Benjamin Mullins-Spann,1527394310797,5,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811
1790755,1.080758e+20,tmax teah,1523054804032,4,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811

<h1> New York </h1>

In [97]:
New_York_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\1.json'
New_York_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\2.json'
New_York_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\3.json'
New_York_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\4.json'
New_York_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\5.json'
New_York_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\6.json'
New_York_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\7.json'
New_York_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\8.json'
New_York_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\9.json'
New_York_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\10.json'
New_York_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\11.json'
New_York_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\12.json'
New_York_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\13.json'
New_York_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\14.json'
New_York_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\15.json'
New_York_16_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\16.json'
New_York_17_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\17.json'
New_York_18_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-New_York\18.json'

New_York_1 = pd.read_json(New_York_1_ruta, lines=True)
New_York_2 = pd.read_json(New_York_2_ruta, lines=True)
New_York_3 = pd.read_json(New_York_3_ruta, lines=True)
New_York_4 = pd.read_json(New_York_4_ruta, lines=True)
New_York_5 = pd.read_json(New_York_5_ruta, lines=True)
New_York_6 = pd.read_json(New_York_6_ruta, lines=True)
New_York_7 = pd.read_json(New_York_7_ruta, lines=True)
New_York_8 = pd.read_json(New_York_8_ruta, lines=True)
New_York_9 = pd.read_json(New_York_9_ruta, lines=True)
New_York_10 = pd.read_json(New_York_10_ruta, lines=True)
New_York_11 = pd.read_json(New_York_11_ruta, lines=True)
New_York_12 = pd.read_json(New_York_12_ruta, lines=True)
New_York_13 = pd.read_json(New_York_13_ruta, lines=True)
New_York_14 = pd.read_json(New_York_14_ruta, lines=True)
New_York_15 = pd.read_json(New_York_15_ruta, lines=True)
New_York_16 = pd.read_json(New_York_16_ruta, lines=True)
New_York_17 = pd.read_json(New_York_17_ruta, lines=True)
New_York_18 = pd.read_json(New_York_18_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [98]:
Datasets_New_York = [New_York_1, New_York_2, New_York_3, New_York_4, New_York_5, New_York_6, New_York_7, New_York_8, New_York_9, New_York_10, New_York_11, 
                     New_York_12, New_York_13, New_York_14, New_York_15, New_York_16, New_York_17, New_York_18]

New_York = pd.concat(Datasets_New_York, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [99]:
New_York = New_York.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [100]:
filtrado_New_York = New_York[New_York['gmap_id'].isin(df_gastronomico['gmap_id'])]

New_York = filtrado_New_York

In [101]:
New_York

,user_id,name,time,rating,text,gmap_id
306,1.026147e+20,Sophy Polanco,1621530707544,5,I love the onion rings there!,0x89c2f5c3caef3fb5:0xb7f855503b4bc974
307,1.072772e+20,John Wainwright,1601737522187,4,Food was both good and very affordable per NYC...,0x89c2f5c3caef3fb5:0xb7f855503b4bc974
308,1.089842e+20,ARcinder,1493791596979,3,The is something sinful about this food. It fa...,0x89c2f5c3caef3fb5:0xb7f855503b4bc974
309,1.108800e+20,Christina Milom,1557427250890,5,Delicious crispy and affordable Fried Chicken ...,0x89c2f5c3caef3fb5:0xb7f855503b4bc974
310,1.032995e+20,Nathaniel Brown,1483623941328,4,This the late night spot when you need somethi...,0x89c2f5c3caef3fb5:0xb7f855503b4bc974
...,...,...,...,...,...,...
2699541,1.014194e+20,Nestor Reyes,1606082543673,5,None,0x89c258e399260e5f:0x38a916f423d1fcdb
2699542,1.125234e+20,Danielle Stramel,1620595907011,5,None,0x89c258e399260e5f:0x38a916f423d1fcdb
2699543,1.055529e+20,Z Z,1583614808872,4,None,0x89c258e399260e5f:0x38a916f423d1fcdb
2699544,1.047860e+20,Jobin M,1616955019039,5,None,0x89c258e399260e5f:0x38a916f423d1fcdb
2699545,1.172240e+20,makieda boreland,1604317341980,4,None,0x89c258e399260e5f:0x38a916f423d1fcdb

<h1> Colorado </h1>

In [102]:
Colorado_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\1.json'
Colorado_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\2.json'
Colorado_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\3.json'
Colorado_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\4.json'
Colorado_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\5.json'
Colorado_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\6.json'
Colorado_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\7.json'
Colorado_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\8.json'
Colorado_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\9.json'
Colorado_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\10.json'
Colorado_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\11.json'
Colorado_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\12.json'
Colorado_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\13.json'
Colorado_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\14.json'
Colorado_15_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\15.json'
Colorado_16_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Colorado\16.json'

Colorado_1 = pd.read_json(Colorado_1_ruta, lines=True)
Colorado_2 = pd.read_json(Colorado_2_ruta, lines=True)
Colorado_3 = pd.read_json(Colorado_3_ruta, lines=True)
Colorado_4 = pd.read_json(Colorado_4_ruta, lines=True)
Colorado_5 = pd.read_json(Colorado_5_ruta, lines=True)
Colorado_6 = pd.read_json(Colorado_6_ruta, lines=True)
Colorado_7 = pd.read_json(Colorado_7_ruta, lines=True)
Colorado_8 = pd.read_json(Colorado_8_ruta, lines=True)
Colorado_9 = pd.read_json(Colorado_9_ruta, lines=True)
Colorado_10 = pd.read_json(Colorado_10_ruta, lines=True)
Colorado_11 = pd.read_json(Colorado_11_ruta, lines=True)
Colorado_12 = pd.read_json(Colorado_12_ruta, lines=True)
Colorado_13 = pd.read_json(Colorado_13_ruta, lines=True)
Colorado_14 = pd.read_json(Colorado_14_ruta, lines=True)
Colorado_15 = pd.read_json(Colorado_15_ruta, lines=True)
Colorado_16 = pd.read_json(Colorado_16_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [103]:
Datasets_Colorado = [Colorado_1, Colorado_2, Colorado_3, Colorado_4, Colorado_5, Colorado_6, Colorado_7, Colorado_8, Colorado_9, Colorado_10, Colorado_11, 
                     Colorado_12, Colorado_13, Colorado_14, Colorado_15, Colorado_16]

Colorado = pd.concat(Datasets_Colorado, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [104]:
Colorado = Colorado.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [105]:
filtrado_Colorado = Colorado[Colorado['gmap_id'].isin(df_gastronomico['gmap_id'])]

Colorado = filtrado_Colorado

In [106]:
Colorado

,user_id,name,time,rating,text,gmap_id
4450,1.096428e+20,Joaquin Gurule,1609892805352,5,So delicious been eating here since a kid and ...,0x876c79194fb1dc17:0xf1b50e6a1855b590
4451,1.075776e+20,minanina89,1537232047581,5,Holy cow!\n\nMy husband and I went to a farmer...,0x876c79194fb1dc17:0xf1b50e6a1855b590
4452,1.131932e+20,Rachelle A Noyes,1545613704063,5,"I love Raquelitas, always have, they have any...",0x876c79194fb1dc17:0xf1b50e6a1855b590
4453,1.147459e+20,Monica Mata,1535069855152,5,Best corn and flour tortillas you'll ever eat!!,0x876c79194fb1dc17:0xf1b50e6a1855b590
4454,1.010786e+20,G's Fun song,1547236024373,5,Excellent products and service,0x876c79194fb1dc17:0xf1b50e6a1855b590
...,...,...,...,...,...,...
1135139,1.023817e+20,Danna Luzmia Moncada Libre,1622437945874,5,None,0x876c7d3f0799753b:0xa7caaeb912e35b22
1135140,1.115434e+20,Cynthia S,1619737709106,2,None,0x876c7d3f0799753b:0xa7caaeb912e35b22
1135141,1.117538e+20,Anthony Rios,1615081342507,5,None,0x876c7d3f0799753b:0xa7caaeb912e35b22
1135142,1.181233e+20,Steve Struck,1619371533183,3,None,0x876c7d3f0799753b:0xa7caaeb912e35b22
1135143,1.088029e+20,Ana Woods,1618762330684,1,None,0x876c7d3f0799753b:0xa7caaeb912e35b22

<h1> Illinois </h1>

In [107]:
Illinois_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\1.json'
Illinois_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\2.json'
Illinois_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\3.json'
Illinois_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\4.json'
Illinois_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\5.json'
Illinois_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\6.json'
Illinois_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\7.json'
Illinois_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\8.json'
Illinois_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\9.json'
Illinois_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\10.json'
Illinois_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\11.json'
Illinois_12_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\12.json'
Illinois_13_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\13.json'
Illinois_14_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Illinois\14.json'

Illinois_1 = pd.read_json(Illinois_1_ruta, lines=True)
Illinois_2 = pd.read_json(Illinois_2_ruta, lines=True)
Illinois_3 = pd.read_json(Illinois_3_ruta, lines=True)
Illinois_4 = pd.read_json(Illinois_4_ruta, lines=True)
Illinois_5 = pd.read_json(Illinois_5_ruta, lines=True)
Illinois_6 = pd.read_json(Illinois_6_ruta, lines=True)
Illinois_7 = pd.read_json(Illinois_7_ruta, lines=True)
Illinois_8 = pd.read_json(Illinois_8_ruta, lines=True)
Illinois_9 = pd.read_json(Illinois_9_ruta, lines=True)
Illinois_10 = pd.read_json(Illinois_10_ruta, lines=True)
Illinois_11 = pd.read_json(Illinois_11_ruta, lines=True)
Illinois_12 = pd.read_json(Illinois_12_ruta, lines=True)
Illinois_13 = pd.read_json(Illinois_13_ruta, lines=True)
Illinois_14 = pd.read_json(Illinois_14_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [108]:
Datasets_Illinois = [Illinois_1, Illinois_2, Illinois_3, Illinois_4, Illinois_5, Illinois_6, Illinois_7, Illinois_8, Illinois_9, Illinois_10, Illinois_11, 
                     Illinois_12, Illinois_13, Illinois_14]

Illinois = pd.concat(Datasets_Illinois, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [109]:
Illinois = Illinois.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [110]:
filtrado_Illinois = Illinois[Illinois['gmap_id'].isin(df_gastronomico['gmap_id'])]

Illinois = filtrado_Illinois

In [111]:
Illinois

,user_id,name,time,rating,text,gmap_id
427,1.032768e+20,Scott Loring,1378684709814,4,I ate here with friends for restaurant week. I...,0x880e2ca867ab1e83:0x2d74d09c9e2daec6
428,1.021772e+20,Sean Doe-Simkins,1328542893578,4,Don't be put off by the fact that it's in a ho...,0x880e2ca867ab1e83:0x2d74d09c9e2daec6
429,1.066865e+20,Zorin Dobson,1382149329476,4,I have to give fair warning for the next stop ...,0x880e2ca867ab1e83:0x2d74d09c9e2daec6
430,1.075252e+20,Ryan Park,1352578341950,2,Would never go back again. Had the bouillabas...,0x880e2ca867ab1e83:0x2d74d09c9e2daec6
431,1.136892e+20,Mohammad Abdelwassie,1439526717180,4,I had one of the best experiences in my life i...,0x880e2ca867ab1e83:0x2d74d09c9e2daec6
...,...,...,...,...,...,...
1858612,1.083009e+20,Andrea Lopez-Roa,1414986104833,5,None,0x880fd2cedd896ab5:0xc61f4b43eb7ad0ee
1858613,1.151016e+20,Nicolás Silva-Santisteban Stevenson,1532903855676,5,None,0x880fd2cedd896ab5:0xc61f4b43eb7ad0ee
1858614,1.103779e+20,Christopher Madden,1620870997745,5,None,0x880fd2cedd896ab5:0xc61f4b43eb7ad0ee
1858615,1.016382e+20,Tykiera Olive-Stalling,1597424255105,4,None,0x880fd2cedd896ab5:0xc61f4b43eb7ad0ee
1858616,1.021363e+20,Mayle Kobets,1603302883984,5,None,0x880fd2cedd896ab5:0xc61f4b43eb7ad0ee

<h1> Missouri </h1>

In [112]:
Missouri_1_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\1.json'
Missouri_2_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\2.json'
Missouri_3_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\3.json'
Missouri_4_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\4.json'
Missouri_5_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\5.json'
Missouri_6_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\6.json'
Missouri_7_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\7.json'
Missouri_8_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\8.json'
Missouri_9_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\9.json'
Missouri_10_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\10.json'
Missouri_11_ruta = r'C:\Users\Practical Tecno\Desktop\Proyecto final\Google Maps\reviews-estados\review-Missouri\11.json'

Missouri_1 = pd.read_json(Missouri_1_ruta, lines=True)
Missouri_2 = pd.read_json(Missouri_2_ruta, lines=True)
Missouri_3 = pd.read_json(Missouri_3_ruta, lines=True)
Missouri_4 = pd.read_json(Missouri_4_ruta, lines=True)
Missouri_5 = pd.read_json(Missouri_5_ruta, lines=True)
Missouri_6 = pd.read_json(Missouri_6_ruta, lines=True)
Missouri_7 = pd.read_json(Missouri_7_ruta, lines=True)
Missouri_8 = pd.read_json(Missouri_8_ruta, lines=True)
Missouri_9 = pd.read_json(Missouri_9_ruta, lines=True)
Missouri_10 = pd.read_json(Missouri_10_ruta, lines=True)
Missouri_11 = pd.read_json(Missouri_11_ruta, lines=True)

<h3> Unión de Datasets </h3>

In [113]:
Datasets_Missouri = [Missouri_1, Missouri_2, Missouri_3, Missouri_4, Missouri_5, Missouri_6, Missouri_7, Missouri_8, Missouri_9, Missouri_10, Missouri_11]

Missouri = pd.concat(Datasets_Missouri, ignore_index=True)

<h3> Eliminar Columnas </h3>

In [114]:
Missouri = Missouri.drop(columns=['pics', 'resp'])

<h3> Unión con Metadata </h3>

In [115]:
filtrado_Missouri = Missouri[Missouri['gmap_id'].isin(df_gastronomico['gmap_id'])]

Missouri = filtrado_Missouri

In [116]:
Missouri

,user_id,name,time,rating,text,gmap_id
3022,1.056639e+20,CryStyles By Stylz Wilson,1476814703842,5,Taco Tuesdays is when I go and they are really...,0x87d8b473f54a5c5b:0x435f2a4495096c0d
3023,1.067784e+20,Jason Goldkamp,1471630327733,2,The food is 4.5 stars. Really tasty. But don't...,0x87d8b473f54a5c5b:0x435f2a4495096c0d
3024,1.094327e+20,Joseph Tehandon,1478397064135,5,"Food was real good and the drinks kept coming,...",0x87d8b473f54a5c5b:0x435f2a4495096c0d
3025,1.088725e+20,Cheryle Robinson,1482768155040,3,Service is extremely slow but good food. Love ...,0x87d8b473f54a5c5b:0x435f2a4495096c0d
3026,1.034449e+20,Jeannette Copeland,1502604402434,1,Made a drive out to Cherokee st this evening a...,0x87d8b473f54a5c5b:0x435f2a4495096c0d
...,...,...,...,...,...,...
1033459,1.114915e+20,Jerry Perks,1570737566187,4,None,0x87d8cb011666cb3b:0xdcf8e531febbbf43
1033460,1.176324e+20,catherine yanchunis,1561860837981,4,None,0x87d8cb011666cb3b:0xdcf8e531febbbf43
1033461,1.050497e+20,Lou DeSorbo,1564950338262,4,None,0x87d8cb011666cb3b:0xdcf8e531febbbf43
1033462,1.004856e+20,Jason Reed,1564958993392,4,None,0x87d8cb011666cb3b:0xdcf8e531febbbf43
1033463,1.069433e+20,Christina Hansen,1554683153615,4,None,0x87d8cb011666cb3b:0xdcf8e531febbbf43

<h2> Función para transformar la columna time a fecha.  </h2>

In [117]:
def calcular_fecha_desde_milisegundos(milisegundos):
    """
    Convierte una cantidad de milisegundos desde el 1 de enero de 1970 a una fecha.
    
    Args:
    milisegundos (int): Cantidad de milisegundos desde el 1 de enero de 1970.

    Returns:
    datetime.datetime: La fecha resultante, o NaT si el valor está fuera del rango.
    """
    try:
        # Convertir milisegundos a segundos
        segundos = milisegundos / 1000
        
        # Fecha base (1 de enero de 1970)
        fecha_base = datetime.datetime(1970, 1, 1)
        
        # Convertir los segundos a fecha
        fecha_actual = fecha_base + datetime.timedelta(seconds=segundos)
        return fecha_actual
    except OverflowError:
        # Manejar el error en caso de valores fuera de rango
        return pd.NaT

def convertir_time_a_fecha(df):
    """
    Convierte la columna 'time' de milisegundos desde el Unix epoch a fechas,
    y agrega una nueva columna 'fecha' en formato 'dd/mm/aaaa'.

    Args:
    df (pd.DataFrame): DataFrame que contiene la columna 'time'.

    Returns:
    pd.DataFrame: DataFrame con la columna 'fecha' agregada.
    """
    # Verificar si la columna 'time' existe en el DataFrame
    if 'time' not in df.columns:
        raise ValueError("El DataFrame no contiene una columna llamada 'time'.")
    
    # Aplicar la conversión a la columna 'time'
    df['time'] = df['time'].apply(calcular_fecha_desde_milisegundos)
    
    # Crear una nueva columna con el formato de fecha 'dd/mm/aaaa'
    df['fecha'] = df['time'].dt.strftime('%d/%m/%Y')
    
    return df

In [118]:
reviews_estado = [California, Colorado, Florida, Georgia, Illinois, Kansas, Massachusetts, Minnesota, Missouri, New_York, North_Carolina, Ohio, Oregon, Pennsylvania, Tennessee, Texas, Utah, Washington]

for i in range(len(reviews_estado)):
    reviews_estado[i] = convertir_time_a_fecha(reviews_estado[i])

In [122]:
California

,user_id,name,time,rating,text,gmap_id,fecha
0,1.089912e+20,Song Ro,2021-01-06 05:12:07.056,5,Love there korean rice cake.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,06/01/2021
1,1.112903e+20,Rafa Robles,2021-02-09 05:47:28.663,5,Good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,09/02/2021
2,1.126404e+20,David Han,2020-03-08 05:04:42.296,4,They make Korean traditional food very properly.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,08/03/2020
3,1.174403e+20,Anthony Kim,2019-03-07 05:56:56.355,5,Short ribs are very delicious.,0x80c2c778e3b73d33:0xbdc58662a4a97d49,07/03/2019
4,1.005808e+20,Mario Marzouk,2017-05-16 05:01:41.933,5,Great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,16/05/2017
...,...,...,...,...,...,...,...
2696857,1.066249e+20,Seyar Kalmoni,2013-08-01 02:39:49.238,5,"The Pizza is absolutely amazing, we got one pi...",0x808fb57e5ffcf77f:0xdeb76c221475bdf0,01/08/2013
2696858,1.083197e+20,Levi Spears,2015-11-04 01:35:18.883,4,"Awesome slices, quick service. Recommended.",0x808fb57e5ffcf77f:0xdeb76c221475bdf0,04/11/2015
2696859,1.002820e+20,Haroon R,2015-05-17 02:22:06.719,5,One of my favorite pizza places west of NY,0x808fb57e5ffcf77f:0xdeb76c221475bdf0,17/05/2015
2696860,1.008675e+20,Wojtek Poppe,2014-08-29 01:53:47.868,5,Awesome slice of pizza. Just like in New York...,0x808fb57e5ffcf77f:0xdeb76c221475bdf0,29/08/2014
2696861,1.094478e+20,Ahmed Hamdy,2016-04-30 21:25:09.144,5,None,0x808fb57e5ffcf77f:0xdeb76c221475bdf0,30/04/2016

<h1> Baja de Datasets </h1>

<h3> Dataframes Gastronomicos General y por Ciudades </h3>

In [119]:
df_gastronomico.to_json('df_gastronomico.json', orient='records', lines=True)

<h3> Dataframes Por Estado </h3>

In [121]:
Washington.to_json('Washington.json', orient='records', lines=True)
Georgia.to_json('Georgia.json', orient='records', lines=True)
Ohio.to_json('Ohio.json', orient='records', lines=True)
California.to_json('California.json', orient='records', lines=True)
Tennessee.to_json('Tennessee.json', orient='records', lines=True)
Florida.to_json('Florida.json', orient='records', lines=True)
Oregon.to_json('Oregon.json', orient='records', lines=True)
Massachusetts.to_json('Massachusetts.json', orient='records', lines=True)
North_Carolina.to_json('North_Carolina.json', orient='records', lines=True)
Kansas.to_json('Kansas.json', orient='records', lines=True)
Minnesota.to_json('Minnesota.json', orient='records', lines=True)
Utah.to_json('Utah.json', orient='records', lines=True)
Texas.to_json('Texas.json', orient='records', lines=True)
Pennsylvania.to_json('Pennsylvania.json', orient='records', lines=True)
New_York.to_json('New_York.json', orient='records', lines=True)
Colorado.to_json('Colorado.json', orient='records', lines=True)
Illinois.to_json('Illinois.json', orient='records', lines=True)
Missouri.to_json('Missouri.json', orient='records', lines=True)